*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#home{
   
    border-bottom: 1px solid gray;
}
.dental h1{
    color: black;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 30px;
}
.dental div{
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
}
#section1{
    min-height: 80vh;
    width: 100%;
    position: relative;
   
}
#section1 span{
    font-size: 13px;
    border: 1px solid rgb(243, 222, 222);
    padding: 5px;
    margin-left: 20px;
}
#nav li a{
    color: black;
}
.img{
    background-color: rgb(192, 250, 250);
}
#img img{
    height: 600px;
    width: 500px;
    
    
}
#simg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#simg img{
    height: 30px;
   
    
}
#simg h6{
    font-size: 15px;
}
#contain{
    height: 150px;
    width: 180px;
    background-color: aliceblue;
    color: black;
    position: absolute;
    top: 150px;
   right: 450px;
   border: 5px;
}
#down{
    margin-top: 100px;
}
#para{
   
    color: black;
    font-weight: bold;
    line-height: 60px;
    font-size: 50px;
    padding: 10px;
}
.contain{
    background-color: white;
    color: black;
    position: absolute;
    top: 450px;
    width: 800px;
  
}


#input{
    width: 300px;
    flex-direction: column;
    padding: 5px;
}
#input input{
    width: 200px;
    padding: 5px;
}
#section2{
    min-height: 100vh;
    width: 100%;
}
#section2 p{
    font-size: 13px;
    color: gray;
}
#section2 img{
    height: 50px;
    width: 50px;
   
}
#about{
    margin-top: 100px;
    /* padding: 20px 0 0 50px; */
}

#about span{
    font-size: 13px;
    border: 1px solid rgb(243, 222, 222);
    padding: 5px;
}
#about img{
    height: 500px;
    width: auto;
}
#about h1{
    font-weight: 600;
}
#about p{
    color: gray;
    font-size: 13px;
}
#section3{
    min-height: 100vh;
    width: 100%;
    margin-top: 100px;

}
#skill img{
    height: 40px;
    width: 400px;
}
#s3img{
    height: 200px;
}
#section3 h2{
    font-weight: 500;
}



#shadow{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.3);
    padding: 10px 10px 10px 50px;
    border-radius: 10px;
}
#btn button{
    padding: 10px;
}

#section4{
    background-color: rgb(216, 248, 237);
}
#section4 img{
    height: 65px;
    width: auto;
    padding: 10px;
}
#section4 p{
    font-size: 13px;
    color: gray;
}
#secimg img{
    height: 600px;
    width: 100%;
}
#section5{
    min-height: 100vh;
    width: 100%;
    margin-top: 100px;
}
#section5 span{
    font-size: 13px;
    border: 1px solid rgb(243, 222, 222);
    padding: 5px;

}
#section5 h1{
    font-weight: 600;
}
#section5 #images{
   width: 100%;
   
}
#section5 #images img{
    height: 400px;
    width: 100%;
}
#section6{
    min-height: 100vh;
    width: 100%;
    margin-top: 100px;
    
}
#section6 h1{
    font-weight: 600;
}
#section6 p{
    font-size: 13px;
    color: gray;
}
#section6 span{
    font-size: 13px;
    border: 1px solid rgb(243, 222, 222);
    padding: 5px;
    
}
#person{
    position: relative;
}
#person img{
    height: 150px;
    width: auto;

}
#font{
    font-weight: normal;
    font-size: 13px;
    color:gray;
   
}
.box{
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.1),
    5px 5px 5px rgba(0,0,0,.1);
    margin-top: 40px;
    border-radius: 5px;
    
}
#grpimg img{
    height: 30px;
    width: auto;
    position: absolute;
    right: 630px;
}
#section7 img{

   height: 500px;
   width: 100%;
   
}
#section8 {
    min-height: 100vh;
    width: 100%;
    margin-top: 100px;

}
#section8 h1{
    font-weight: 600;
}
#section8 p{
    font-size: 13px;
    color: gray;
}
#section8 span{
    font-size: 13px;
    border: 1px solid rgb(243, 222, 222);
    padding: 5px;
    
}
#section9 {
    min-height: 100vh;
    width: 100%;
    margin-top: 100px;
    
    
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */

}
#bg{
    background-color: rgb(224, 246, 239);

}
#section9 h1{
    font-weight: 600;
}
#section9 p{
    font-size: 13px;
    color: gray;
}
#section9 span{
    font-size: 13px;
    border: 1px solid rgb(243, 222, 222);
    padding: 5px;
    
}
#section9 img{
    height: 400px;
    width: 100%;

}
#section10{
    min-height: auto;
    width: 100%;
    background-color: rgb(14, 5, 79);
    color: white;
    padding: 10px;
}
#section10 span{
    font-size: 13px;
}
#section10 .imgs img{
    height: 25px !important;
    width: auto;
    padding: 5px;
}
#section10 p{
    font-size: 13px;    
}
#section10 .logo img{
    height: 45px;
    width: auto;
}
#size div{
    font-size: 13px;
}

